---
layout: default
title: "Publications"
permalink: /publications/
---

{% assign years = (2017..2026) | reverse %}
{% assign highlighted_names = "" %}
{% assign display_links = "true" %}

<div class="page-wrapper">
    <h1> Publications </h1>

    <div  class = "info-wrapper">
        The most accurate list of publications can be found on
        <a href="https://scholar.google.com/citations?hl=en&tzom=300&user=kUVJywwAAAAJ">Google Scholar</a>.
    </div>

    <nav class="page-nav">
        {% for year in years %}
            <a href="#year{{ year }}">{{ year }}</a>
        {% endfor %}
        <a href="#thesis">Thesis</a>
    </nav>


    <h2>Preprints</h2>
    <div class="publications-container">
        {% for pub in site.data.preprints %}
            {% include pub-thumbnail.html %}
        {% endfor %}
    </div>

    {% for year in years %}
        <h2>{{ year }}</h2><a id="year{{ year }}"></a>
        <div class="publications-container">
            {% for pub in site.data.pubs %}
                {% if pub.year == year %}
                    {% include pub-thumbnail.html %}
                {% endif %}
            {% endfor %}
        </div>
        <!-- Return to Top Button -->
        <div class="return-top-container">
          <a href="#top" class="btn-return-top" aria-label="Return to top">
            <i class="fas fa-arrow-up"></i> Back to Top
          </a>
        </div>
    {% endfor %}

    <h2>PhD Thesis</h2><a id="thesis"></a>
    <ul>
        <li>
            <a href="/publications/LiPhD22">Efficient and Effective Techniques for Large-Scale Multi-Agent Path Finding</a>.
            (<b>Best Dissertation Awards by ICAPS, AAMAS, and USC Viterbi School of Engineering</b>)<br/>
            Jiaoyang Li.<br/>
            <i>PhD thesis, Department of Computer Science, University of Southern California, Los Angeles (California)</i>, 2022.<br/>
            [<a href="javascript:void(0)" onclick="(function(target, id) { if ($('#' + id).css('display') == 'block') { $('#' + id).hide('fast'); $(target).text('bibtex') } else { $('#' + id).show('fast'); $(target).text('bibtex▲') } })(this, 'bibtex-LiPhD22');">bibtex</a>]
            [<a href="/files/jiaoyangli/phd-thesis-final.pdf">pdf</a>]
            <div id="bibtex-LiPhD22" style="display:none; font-size:small">
                <pre>@phdthesis{LiPhD22,
      title     = {Efficient and Effective Techniques for Large-Scale Multi-Agent Path Finding},
      author    = {Jiaoyang Li},
      school    = {University of Southern California},
      year      = {2022}
    }</pre></div>
        </li>
    </ul>
</div>