{% if pub.site %}
  {% assign pub_link = pub.site %}
{% else %}
  {% assign pub_link = "/publications/" | append: pub.key %}
{% endif %}

<div class="pub-item pub-entry">
    <!-- Left Column - Thumbnail -->
    <div class="pub-thumbnail">
      <a href="{{ pub_link }}">
        <img src="{{ pub.thumbnail | default: '/assets/img/robot-red.png' }}"
             alt="{{ pub.title }} thumbnail"
             loading="lazy"
             decoding="async">
      </a>
    </div>

    <!-- Right Column - Details -->
    <div class="pub-content">
        <h3 class="pub-title">
            <a class="pub-title-link" href="{{ pub_link }}">{{ pub.title }}</a>.
            {% if pub.award %}
                <span class="pub-award">({{ pub.award }})</span>
            {% endif %}
        </h3>
        <p class="pub-authors">
            {% for author in pub.authors %}
                {% if highlighted_names contains author %}<b>{{ author }}</b>{% else %}{{ author }}{% endif %}{% if pub.equal_contributions contains author %}*{% endif %}{% if forloop.last %}. {% else %}, {% endif %}
            {% endfor %}
        </p>
        {% include pub-meta.html %}
        <div class="pub-actions">
            {% if pub.abstract %}
                <a href="#abstract-{{pub.key}}"
                        class="pub-link pub-button"
                        data-bs-toggle="collapse"
                        aria-expanded="false"
                        aria-controls="abstract-{{pub.key}}">Abstract</a>
            {% endif %}
            {% include pub-buttons.html %}
        </div>
    </div>
</div>