{% if pub.site %}
  {% assign pub_link = pub.site %}
{% else %}
  {% assign pub_link = "/publications/" | append: pub.key %}
{% endif %}

<li>
    <a href="{{pub_link}}" style="color:black">{{pub.title}}</a>.
    {% if pub.award %}
        (<b>{{pub.award}}</b>)
    {% endif %}
    <br/>
    {% for author in pub.authors %}
        {% if highlighted_names contains author %}<b>{{ author }}</b>{% else %}{{ author }}{% endif %}{% if pub.equal_contributions contains author %}*{% endif %}{% if forloop.last %}. {% else %}, {% endif %}
    {% endfor %}
    {% include pub-meta.html %}
    {% if display_links=="true" %}
        {% include pub-buttons.html %}
    {% endif %}
</li>
